
.Home_Page{
    .Superbanner{
        background-image: url('/lovepet/dist/img//banner-home.jpg');
        display: flex;
        justify-content: flex-end;
        align-items: center;
        .Content {
            width: 50%;
            padding: 3%;
            .Title {
                margin: 2% 0;
                h1{
                    font-size:42px;
                }
            }
            p{

            }
            .Banner_Button{
                display: flex;
                margin: 5% 0;
            }

        }
    }
}